<section>
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Login Image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
           <!-- Email input -->
           <div class="formGroup">
            <input type="text" class="formControl" placeholder="Username" #userName required>
          </div>
          <!-- Password input -->
          <div class="formGroup">
            <input type="password" class="formControl" placeholder="Password" #userPassword required>
          </div>
          <!--Redirectio to register components -->
              <div class="text-center text-lg-start mt-4 pt-2">
                <p class="small mt-2 pt-1 mb-0">Forget Password ?
                  <a  routerLink="/forgot-password"
                      class="link-danger">send email </a></p>
              </div>
            <!--Login Button -->
            <div class="text-center mt-4 pt-2">
              <button
                type="submit"
                color="primary"
                class="btn btn-primary btn-lg btn-block"
                (click)="authService.Login(userName.value, userPassword.value)">
                   Login
              </button>
            </div>
            <!--Redirectio to register components -->
            <div class="text-center text-lg-start mt-4 pt-2">
              <p class="small mt-2 pt-1 mb-0">Don't have an account?
                <a
                routerLink="/register-user"
                class="link-danger">Register</a></p>
            </div>
          <!-- Connect with google
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-2 me-3">Sign in with</p>
              Connect with google
              <button class="btn btn-danger" type="button" (click)="authService.GoogleAuth()">Google</button>
            </div> -->
        </div>
      </div>
    </div>
  </section>