img {
    border-radius: 50%;
}

.btn-group {
    margin: 0 auto;
}

.btn-group a {
    background-color: #04AA6D; /* Green background */
    border-color: #005a39;
  }

.card {
    margin: 10%;
    width: 80%;
  }

a {
    color: black;
}

.returnButton{
  margin:10px;
}
