<!-- home.component.html -->

<div class="homepage-container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <h1 class="display-4">Witaj w Naszym Biurze Turystycznym</h1>
        <p class="lead">Odkryj niesamowite lokalizacje i zaplanuj swoje wymarzone wakacje z nami!</p>
        <p>Zwiedź piękno świata dzięki naszym dobrze dobranym wycieczkom i pakietom turystycznym. Bez względu na to, czy szukasz przygody, relaksującego wypoczynku, czy doświadczenia kulturowego, mamy coś dla każdego.</p>
        <a routerLink="/trips" class="btn btn-primary mt-3">Zobacz Wycieczki</a>
      </div>
    </div>
  </div>
  